H1{
  font-family: Mate SC Regular, Arial, sans-serif;
	font-size: 2.5em;
	color: #FFC8BF;
	text-align:center;
	padding-top: 5%;
	padding-bottom: 5%;
}
.rightscroll {
  width: 830px;
  height: 100px;
  border: 1px solid blue;
  float:right;
}
.leftscroll {
  width: 830px;
  height: 100px;
  border: 1px solid red;
  float:left;
}
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.triangle-down {
  position: absolute;
  top: 0px;
	width: 0;
	height: 0;
	border-left: 830px solid transparent;
	border-right:830px solid transparent;
	border-top: 400px solid #555;
  z-index: -1;
}
